<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<main>
    <div class="welcome">

        <h1 th:text="${story.title}">Fallback Title</h1>
        <hr class="my-3 bg-white w-100"/>

        <p class="h4" style="color: #c9cacb; text-align: center;"
           th:text="${story.description}">
            Fallback Description
        </p>
        <hr class="my-3 bg-white w-100"/>

        <div class="read-details">
            <p>Story by: <span th:text="${story.owner.username}">Fallback Owner</span></p>

            <p>
                <a class="primary-text" th:href="@{/home}">
                    <button>Back</button>
                </a>
            </p>

            <p>Published on: <span th:text="${story.addedOn}">Fallback Date</span></p>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
