<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add word</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded" th:method="POST" th:action="@{/words}" th:object="${wordData}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="term" class="h4 mb-2">Term</label>
            </div>
            <textarea class="form-control" id="term" th:field="*{term}"></textarea>
            <small th:if="${#fields.hasErrors('term')}" class="text-danger" th:text="${#fields.errors('term')}"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="translation" class="h4 mb-2">Translation</label>
            </div>
            <textarea class="form-control" id="translation" th:field="*{translation}"></textarea>
            <small th:if="${#fields.hasErrors('translation')}" class="text-danger" th:text="${#fields.errors('translation')}"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="example" class="h4 mb-2">Example</label>
            </div>
            <textarea class="form-control" id="example" th:field="*{example}"></textarea>
            <small th:if="${#fields.hasErrors('example')}" class="text-danger" th:text="${#fields.errors('example')}"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="inputDate" class="h4 mb-2">Set input date</label>
            </div>
            <input type="date" class="form-control" id="inputDate" th:field="*{inputDate}" />
            <small th:if="${#fields.hasErrors('inputDate')}" class="text-danger" th:text="${#fields.errors('inputDate')}"></small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="language" class="h4 mb-2">Language</label>
            </div>
            <select class="browser-default custom-select" id="language" th:field="*{language}">
                <option value="">Select language</option>
                <option value="GERMAN" th:selected="${wordData.language == 'GERMAN'}">German</option>
                <option value="FRENCH" th:selected="${wordData.language == 'FRENCH'}">French</option>
                <option value="SPANISH" th:selected="${wordData.language == 'SPANISH'}">Spanish</option>
                <option value="ITALIAN" th:selected="${wordData.language == 'ITALIAN'}">Italian</option>
            </select>
            <small th:if="${#fields.hasErrors('language')}" class="text-danger" th:text="${#fields.errors('language')}"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mb-3">Add word</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
